/* LandingPage.css */
html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.landing-page-form {
  margin-left: auto!important;
}

.banner{
  margin-left: 10%;
}

.headers{
  margin-left: 10.5%;
  margin-top: 4%;
  font-family:sans-serif;
}

.sub-headers{
  margin-top: 1.5%;
  margin-left: 10.5%;
  font-weight: normal;
  font-family:sans-serif;
}
